<!--<p style="color: green"><%= notice %></p>-->

<div class="container">
  <h1><span class="bi bi-person-bounding-box"></span> Clients</h1>
  <br>

  <%= link_to "New client", new_client_path, class:"btn btn-primary" %>
  <form class="d-flex">
          <!--
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
          -->

          
  </form>
  <br><br>

  <nav class="navbar  bg-light">
    <a class="navbar-brand"></a>
    <form class="form-inline">
        <%= form_with url: clients_path, method: :get do |form|%>
            <%= form.text_field :query_text, placeholder: "Search", value: params[:query_text], class:"form-control mr-sm-2"%>
        <%end%>
    </form>
  </nav>

  <div id="clients">
    <table class="table table-striped table-bordered table-hover">
      <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Age</th>
          <th scope="col">Movie</th>
          <th scope="col" colspan="3"></th>
        </tr>
      </thead>
      <tbody>
      
          <% @clients.each do |client| %>
            <!--%= render client %-->
            
              <tr>
                <th scope="row"><%= client.id %></th>
                <td><%= link_to client.name, client %></td>
                <td><%= client.age %></td>
                <td><%= client.movies.last %></td>
                <td style="text-align: center;"><%= link_to " Show", client, class:"btn btn-outline-info btn-sm bi bi-eye" %></td>
                <td style="text-align: center;"><%= link_to " Edit", edit_client_path(client), class:"btn btn-outline-warning btn-sm bi bi-pencil-square" %></td>
                <td style="text-align: center;"><%= button_to " Delete", client, method: :delete, data: {turbo_method: :delete, turbo_confirm: "Mensaje: Estas seguro?"}, class:"btn btn-outline-danger btn-sm bi bi-trash" %></td>
              </tr>
          
          <% end %>
       
      </tbody>
    </table>

    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
</div>

